media/
static/
*.pyc
*.pyo
#.idea
.*/*
*/*.idea
dump.rdb
.DS_Store
sublime-project
*.sublime-workspace
*.sublime-project
.coverage
junit.xml
cover
core/.coverage
core/cover
test_reports.xml
coverage.xml
test_results.xml
<fdopen>
oracle.db